<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "pcrm" %></h1>
  <p><%= raw gettext "A devoper-conscious %{link}-based customer relationship management system.", link: "<a href=\"https://phoenixframework.org/\" target=\"_blank\">Phoenix</a>" %></p>
</section>
