<div>
  <h2 class="border-b border-gray-200 text-gray-800 font-light text-lg pb-2 mb-6">
    {Gettext.gettext(PcrmWeb.Gettext, @title)}
  </h2>

  <.form
    for={@form}
    id="customer-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
      <.input field={@form[:honorific_prefix]} label={dgettext("customers", "Honorific Prefix")} />
      <.input field={@form[:given_name]} label={dgettext("customers", "Given name")} />
      <.input field={@form[:family_name]} label={dgettext("customers", "Family name")} />
      <.input field={@form[:honorific_suffix]} label={dgettext("customers", "Honorific Suffix")} />
    </div>

    <div class="flex items-center gap-3 mt-6">
      <%= if @return_to do %>
        <.link
          id="close"
          patch={@return_to}
          class="rounded-lg bg-gray-400 hover:bg-gray-500 py-2 px-3 text-sm font-semibold text-white no-underline"
        >
          {gettext("Cancel")}
        </.link>
      <% else %>
        <a
          id="close"
          href="#"
          phx-click={JS.dispatch("click", to: "#close")}
          class="rounded-lg bg-gray-400 hover:bg-gray-500 py-2 px-3 text-sm font-semibold text-white no-underline"
        >
          {gettext("Cancel")}
        </a>
      <% end %>

      <.button type="submit" phx-disable-with={gettext("Saving...")}>
        <i class="fa-solid fa-floppy-disk" aria-hidden="true"></i>
        {gettext("Save")}
      </.button>
    </div>
  </.form>
</div>
