<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "pcrm" %></h1>
  <p>A devoper-conscious <a href="https://phoenixframework.org/" target="_blank">Phoenix</a>-based customer relationship management system.</p>
</section>
