<main class="container pa4">
  <p class="pa3 br2 bg-lightest-blue dark-blue ba b--light-blue empty-hide" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="pa3 br2 bg-washed-red dark-red ba b--light-red empty-hide" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>
