<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Pcrm", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          <ul>
          <%= if @current_user do %>
            <li><%= live_redirect (gettext "Customers"), to: Routes.customer_index_path(@conn, :index) %></li>
          <%= end %>
          </ul>
          <%= render "_user_menu.html", assigns %>
        </nav>
        <%= live_redirect to: Routes.index_path(@conn, :index) do %>
          <img src={Routes.static_path(@conn, "/images/phoenix.png")} alt="Phoenix Framework Logo"/>
        <% end %>
      </section>
    </header>
    <%= @inner_content %>
    <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
      <%= link (gettext "LiveDashboard"), to: Routes.live_dashboard_path(@conn, :home) %>
      <br />
    <% end %>
    <%= gettext "Language" %>: 
    <%= for locale <- Gettext.known_locales(PcrmWeb.Gettext) do %>
      <a href={"?locale=#{locale}"}><%= locale%></a>
    <% end %>
  </body>
</html>
