<h1><%= dgettext "customers", "Listing Customers"%></h1>

<table>
  <thead>
    <tr>
      <th><%= dgettext "customers", "Given name"%></th>
      <th><%= dgettext "customers", "Family name"%></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for customer <- @customers do %>
    <tr>
      <td><%= customer.given_name %></td>
      <td><%= customer.family_name %></td>

      <td>
        <span><%= link (gettext "Show"), to: Routes.customer_path(@conn, :show, customer) %></span>
        <span><%= link (gettext "Edit"), to: Routes.customer_path(@conn, :edit, customer) %></span>
        <span><%= link (gettext "Delete"), to: Routes.customer_path(@conn, :delete, customer), method: :delete, data: [confirm: (gettext "Are you sure?")] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link (dgettext "customers", "New Customer"), to: Routes.customer_path(@conn, :new) %></span>
