<h1><%= dgettext "customers", "Show Customer"%></h1>

<ul>

  <li>
    <strong><%= dgettext "customers", "Given name"%>:</strong>
    <%= @customer.given_name %>
  </li>

  <li>
    <strong><%= dgettext "customers", "Family name"%>:</strong>
    <%= @customer.family_name %>
  </li>

</ul>

<span><%= link (gettext "Edit"), to: Routes.customer_path(@conn, :edit, @customer) %></span> |
<span><%= link (gettext "Back"), to: Routes.customer_path(@conn, :index) %></span>
